<div *ngIf="issloading==false">
  <mat-card>
    <mat-card-title>PLANIFICACIONES</mat-card-title>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>BUSCAR PROYECTO</mat-label>
      <input matInput   placeholder="FILTRAR" [formControl]="myControl">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </mat-card>
  <br>
  <div *ngIf="isexist">
    <div *ngFor="let anexo6 of filteredOptions | async">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle>Proyecto: {{anexo6.nombreProyecto}}</mat-card-subtitle>
          <mat-card-title>Docente: {{anexo6.nombreDocenteApoyo}}</mat-card-title>
          <span class="example-spacer"></span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="eliminarAnexo(anexo6)">
              <mat-icon color="warn">delete_forever</mat-icon>
              <span>Eliminar</span>
            </button>
            <button mat-menu-item (click)="convertFile(anexo6.documento)">
              <mat-icon color="warn">download</mat-icon>
              <span>Descargar documento</span>
            </button>
          </mat-menu>
        </mat-card-header>
        <mat-card-content>
          <p>Cédula estudiente: {{anexo6.cedulaEstudiante}}</p>
          <p>Nombre el estudiante: {{anexo6.nombreEstudiante}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="isexist==false">
    <mat-card>
      <mat-card-title>NO EXISTEN PROYECTOS ACTUALMENTE BENEFICARIAS REGISTRADAS</mat-card-title>
    </mat-card>
  </div>
</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </center>
  </div>
</ng-container>
