<div *ngIf="issloading==false">
  <mat-card>
    <mat-card-title>FIRMA DE ANEXOS</mat-card-title>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>BUSCAR... </mat-label>
      <input matInput   placeholder="FILTRAR" [formControl]="myControl">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </mat-card>
  <br>
  <div  *ngIf="isexist">
    <div *ngFor="let anexo9 of filteredOptions | async">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>SEGUIMIENTO MENSUAL SEGUN PLANIFICACIÓN</mat-card-title>
          <mat-card-subtitle>Director: {{anexo9.nombreDirector}}</mat-card-subtitle>
          <mat-card-title>{{anexo9.nombreApoyo}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Fecha de seguimiento: {{anexo9.fechaSeguimeinto | date:"longDate"}}</p>
          <strong>Mes planificado:: {{anexo9.mesPlanificaccion}}</strong>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>Seguimiento de Actividades
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngFor="let act of anexo9.actividadesAnexo9">
              Actividad: {{act.actividadesPlanificacion}}  Estudiante:{{act.estudianteResponsable}}
              <br>Fecha Planificada: {{act.fechaPlanificacion}}   Finalizada: {{act.finalizacion}}
              <br>Fecha Finalizacion Prevista: {{act.fechaFinalizacion}} Porcentaje de Avance: {{act.numero}}
              <br>Observaciones: {{anexo9.observaciones}}</p>
          </mat-expansion-panel>
          <mat-divider></mat-divider>
          <br>
          <button mat-raised-button color="primary" (click)="convertFile(anexo9.documento)">DESCARGAR DOCUMENTO</button>
          <button mat-raised-button color="accent" style="margin-left: 5px" (click)="update(anexo9)">SUBIR DOCUMENTO</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
