<div *ngIf="issloading==false">
  <div *ngIf="isexist">
    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Selección de proyecto</ng-template>
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>ASIGNACIÓN DE ALUNO A DIRECTOR O DOCENTE DE APOYO</mat-card-title>
              <mat-card-subtitle>Seleccione el proyecto</mat-card-subtitle>
            </mat-card-header>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>BUSCAR PROYECTO</mat-label>
              <input matInput  placeholder="FILTRAR" [formControl]="myControlproyecto">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-card-content>
              <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
                <mat-selection-list #shoes [multiple]="false" (selectionChange)="selectionProyecto($event)" formControlName="firstCtrl" required>
                  <mat-list-option *ngFor="let shoe of filteredOptionsProyecto | async" [value]="shoe"  class="example-item">
                    Nombre: {{shoe.nombre}} ||-- Director: {{shoe.nombredirector}}
                  </mat-list-option>
                </mat-selection-list>
              </cdk-virtual-scroll-viewport>
              <br>
              <p>
                Proyecto seleccionado: {{proyectoselect.nombre}}
              </p>
              <mat-divider></mat-divider>
              <br>
              <div>
                <button mat-button matStepperNext color="primary">Siguente</button>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Seleccón de docente">
        <form [formGroup]="secondFormGroup">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>ASIGNACIÓN DE ALUMNO A DIRECTOR O DOCENTE DE APOYO</mat-card-title>
              <mat-card-subtitle>Seleccione un director o docente de apoyo</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
              <div>
                <mat-form-field appearance="fill" style="width: 100%">
                  <mat-label>Primero seleccione al docente</mat-label>
                  <mat-select formControlName="docente" (selectionChange)="selectionDocente($event.value)">
                    <mat-option  *ngFor="let docente of anexo1" [value]="docente.cedulaDelegado">{{docente.cedulaDelegado}} {{docente.nombreDelegado}} como {{docente.nombreRol}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" style="width: 100%">
                  <mat-label>Segundo seleccione al estudiante</mat-label>
                  <mat-select formControlName="estudiante" (selectionChange)="selectionAlumno($event.value)">
                    <mat-option  *ngFor="let alumnos of anexo5.alumnos" [value]="alumnos.cedulaEstudiante">{{alumnos.cedulaEstudiante}} {{alumnos.nombreEstudiante}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <button mat-button matStepperPrevious color="warn">Atras</button>
                <button mat-button matStepperNext color="primary" [disabled]="activate">Siguente</button>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirtdFormGroup" label="Seleccón de alumnos">
        <form [formGroup]="thirtdFormGroup">
          <mat-card class="example-card"  style="max-width: 100%">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>ASIGNACIÓN DE ALUMNO A DIRECTOR O DOCENTE DE APOYO</mat-card-title>
              <mat-card-subtitle>Seleccione los alumnos</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
              <mat-grid-list cols="6" rowHeight="3:1">
                <mat-grid-tile colspan="6">
                  <button mat-fab color="primary" (click)="onAddRow('')" *ngIf="thirtdFormGroup.get('rows')"><mat-icon>add_circle</mat-icon></button>
                </mat-grid-tile>
                <mat-grid-tile>
                  Num
                </mat-grid-tile>
                <mat-grid-tile>
                  Actividades
                </mat-grid-tile>
                <mat-grid-tile>
                  Asignatura
                </mat-grid-tile>
                <mat-grid-tile>
                  Resultado
                </mat-grid-tile>
                <mat-grid-tile>
                  Horas
                </mat-grid-tile>
                <mat-grid-tile>

                </mat-grid-tile>
                <div *ngFor="let row of thirtdFormGroup.get('rows')?.controls;let index = index;">
                  <mat-grid-tile>
                    {{index}}
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-form-field appearance="fill">
                      <mat-label>Actividad</mat-label>
                      <mat-select [formControl]="row.get('actividad')">
                        <mat-option *ngFor="let activida of proyectoselect.actividadeslistProyectos" [value]="activida.descripcion">{{activida.descripcion}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-form-field appearance="fill">
                      <mat-label>Seleccione</mat-label>
                      <mat-select [formControl]="row.get('asignatura')">
                        <mat-option *ngFor="let materias of materias" [value]="materias.nombre">{{materias.nombre}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-form-field appearance="fill">
                      <mat-label>Resultados</mat-label>
                      <input matInput [formControl]="row.get('resultado')" placeholder="Ex. Bien">
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-form-field appearance="fill">
                      <mat-label>Horas</mat-label>
                      <input matInput type="number" [formControl]="row.get('horasAsignadas')" (ngModelChange)="sumar()" (keyup)="sumar()" placeholder="Ex.5">
                    </mat-form-field>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <button mat-mini-fab color="warn" (click)="onRemoveRow(index)"><mat-icon>delete_sweep</mat-icon></button>
                  </mat-grid-tile>
                </div>
                <mat-grid-tile colspan="6">
                  <strong>{{sum}} de {{numerominimo}} horas minimas requeridas</strong>
                </mat-grid-tile>
              </mat-grid-list>
              <div>
                <button mat-button matStepperPrevious color="warn">Atras</button>
                <button mat-button matStepperNext color="primary" [disabled]="activar">Siguente</button>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
      </mat-step>
      <mat-step [stepControl]="fourFormGroup" label="Documento">
        <form [formGroup]="fourFormGroup">
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Anexo 6</mat-card-title>
              <mat-card-subtitle>Generar Anexo</mat-card-subtitle>
            </mat-card-header>
            <h4>Debe obtner el anexo en "Obtener Anexo" y posteriormente debera firmar y subir de en formato PDF</h4>
            <div>
              <button mat-raised-button color="primary" (click)="generarDocumento()">Obtener Anexo</button>
              <mat-form-field appearance="outline" style="width: 75%; margin-left: 10px" >
                <ngx-mat-file-input accept="application/pdf"  (change)="subirDocumento($event.target.files)"  formControlName="docx" placeholder="Subir Documento"></ngx-mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
              </mat-form-field>
            </div>
            <mat-card-content>
              <div>
                <button mat-button matStepperPrevious color="primary">Atras</button>
                <button mat-button matStepperNext color="warn">Siguente</button>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
      </mat-step>
      <mat-step  label="Confirmar">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>ASIGNACIÓN DE ALUMNO A DIRECTOR O DOCENTE DE APOYO</mat-card-title>
            <mat-card-subtitle>Guardar asignación</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Nombre del docente: {{anexo6.nombreDocenteApoyo}}</p>
            <p>Nombre del alumno: {{anexo6.nombreEstudiante}}</p>
            <p>Entidad:  {{anexo6.nombreEntidad}}</p>
            <div>
              <button mat-button matStepperPrevious color="primary">Atras</button>
              <button mat-flat-button color="warn" (click)="guardaranexo6()">Asignar</button>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-step>
    </mat-stepper>
  </div>
  <div *ngIf="isexist==false">
    <mat-card>
      <mat-card-title>NO EXISTEN DOCENTES</mat-card-title>
    </mat-card>
  </div>
</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </center>
  </div>
</ng-container>
