<div *ngIf="issloading==false">
  <mat-card>
    <mat-card-title>ANEXOS 9</mat-card-title>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>BUSCAR...</mat-label>
      <input matInput   placeholder="FILTRAR" [formControl]="myControl">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </mat-card>
  <br>
  <div *ngIf="isexist">
    <div *ngFor="let anex9 of filteredOptions | async">
      <mat-card class="example-card">
        <mat-card-header>
      <mat-card-subtitle>Director: {{anex9.nombreDirector}}</mat-card-subtitle>
      <mat-card-subtitle>Docente de Apoyo: {{anex9.nombreApoyo}}</mat-card-subtitle>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="eliminarAnexo9(anex9)">
          <mat-icon color="warn">delete_forever</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
        </mat-card-header>
        <mat-card-content>
          <p>Fecha de Seguimiento: {{anex9.fechaSeguimeinto | date:"longDate"}}</p>
          <strong>Entidad Beneficiaria: {{anex9.entidadBeneficiaria}}</strong>
          <mat-card-subtitle>Mes: {{anex9.mesPlanificaccion}}</mat-card-subtitle>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Actividades Evaluadas
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngFor="let act of anex9.actividadesAnexo9">
              Actividad: {{act.actividadesPlanificacion}}  Estudiante:{{act.estudianteResponsable}}
              <br>Fecha Planificada: {{act.fechaPlanificacion}}   Finalizada: {{act.finalizacion}}
            <br>Fecha Finalizacion Prevista: {{act.fechaFinalizacion}} Porcentaje de Avance: {{act.numero}}</p>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
<div *ngIf="isexist==false">
  <mat-card>
    <mat-card-title>NO EXISTEN </mat-card-title>
  </mat-card>
</div>
</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </center>
  </div>
</ng-container>
