<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<!--Div para ocultar o mostrar el incio de seion o para registrar la cedula-->
<div *ngIf="habilitar == true">
  <div class="contenedor">
    <mat-card class="example-card">
      <mat-card-subtitle>Vinculación a la Sociedad</mat-card-subtitle>
      <mat-card-title>INICAR SESIÓN</mat-card-title>
      <mat-card-content>
        <br>
        <p>Bienvenidos a la platoforma de "PRACTICAS DE VINCULACIÓN A LA SOCIEDAD"
          del Instituto Superior Tecnologico Del Azuay. Para ingresar a esta plataforma de Vinculación a la Sociedad necesita
          ser miembro de la comunidad educativa
          @tecazuay.edu.ec</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-raised-button color="primary"  (click)="signInWithGoogle()">INGRESAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<!--Div para ocultar o mostrar el incio de seion o para registrar la cedula-->
<div *ngIf="habilitar == false">
  <div class="contenedor">
    <mat-card class="example-card">
      <mat-card-subtitle>Vinculación a la Sociedad</mat-card-subtitle>
      <mat-card-title>REGISTRARSE</mat-card-title>
      <mat-card-content>
        <br>
        <p>A los miembros que ingresan por PRIMERA ves al plataforma de Vinculación a la Sociedad,
          se deben indentificar por ello es necesario que ingrese su Número de Cédula.</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>CÉDULA</mat-label>
          <input type="text" matInput [formControl]="cedulaFormControl" [errorStateMatcher]="matcher"
                 placeholder="Ex. 0154154874" (keypress)="omit_special_char($event)" (keypress)="omit_max_char($event)" [(ngModel)]="userRequest.cedula">
          <mat-hint>Cédula Requerida!</mat-hint>
          <mat-error *ngIf="cedulaFormControl.hasError('pattern') && !cedulaFormControl.hasError('required')">
            Cedula Invalida
          </mat-error>
          <mat-error *ngIf="cedulaFormControl.hasError('required')">
            Cédula es <strong>requerida</strong>
          </mat-error>
        </mat-form-field>
      </form>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="create()">CONTINUAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
</body>
</html>

