<div *ngIf="issloading==false">
  <div *ngIf="isexist">
    <div *ngFor="let anexo4 of filteredOptions | async">
      <mat-card>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>BUSCAR CONVOCATORIA: </mat-label>
          <input matInput   placeholder="FILTRAR" [formControl]="myControl">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </mat-card>
      <br>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Proyecto: {{anexo4.nombreProyecto}}</mat-card-title>
          <mat-card-subtitle>Cedula: {{anexo4.cedulaEstudiante}}</mat-card-subtitle>
          <mat-card-subtitle>Nombre: {{anexo4.nombreEstudiante}}</mat-card-subtitle>
          <span class="example-spacer"></span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="convertFile(anexo4.documento)">
              <mat-icon color="warn">download</mat-icon>
              <span>Descargar documento</span>
            </button>
          </mat-menu>
        </mat-card-header>
        <mat-card-content>
          <p>Proyecto: {{anexo4.nombreProyecto}}</p>
          <p>Horas: {{anexo4.numeroHoras}}</p>
          <p>Fecha de recepción: {{anexo4.fechaRespuesta | date:"longDate"}}</p>
          <button mat-flat-button style="width: 100%" color="primary" (click)="firmarAceptacion(anexo4)">FIRMAR ACEPTACIÓN</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="isexist==false">
    <mat-card>
      <mat-card-title>NO EXISTEN ACEPTACIONES</mat-card-title>
    </mat-card>
  </div>
</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </center>
  </div>
</ng-container>

