<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>BIENVENIDOS A LA PLATAFORMA DE VINCULACIÓN A LA SOCIEDAD</mat-card-title>
    <mat-card-subtitle>ISTA</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/images/ICO.png" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      El proceso de Servicios a la Comunidad busca promover la transferencia e
      intercambio de conocimiento entre la sociedad y el ISTA con el fin de que los estudiantes se
      preparen para su vida profesional tomando como base el aprendizaje – servicio, una herramienta
      muy importante que busca crear personas comprometidas con la sociedad mediante el uso del
      conocimiento adquirido en su vida estudiantil.
    </p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
</body>
</html>
