<div *ngIf="issloading==false">
  <mat-card>
    <mat-card-title>ENTIDADES BENEFICARIAS REGISTRADAS</mat-card-title>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>BUSCAR PROYECTO</mat-label>
      <input matInput   placeholder="FILTRAR" [formControl]="myControl">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </mat-card>
  <br>
  <div *ngIf="isexist">
    <div *ngFor="let anexo2 of filteredOptions | async">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-subtitle>Resposanble: {{anexo2.nombreResponsable}}</mat-card-subtitle>
          <mat-card-title>{{anexo2.nombreProyecto}}</mat-card-title>
          <span class="example-spacer"></span>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/panelusuario/proyectovinculacion/editarconvocatoria',anexo2.id]">
              <mat-icon color="primary">edit</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="eliminarAnexo2(anexo2)">
              <mat-icon color="warn">delete_forever</mat-icon>
              <span>Eliminar</span>
            </button>
            <button mat-menu-item (click)="convertFile(anexo2.documento)">
              <mat-icon color="warn">download</mat-icon>
              <span>Descargar documento</span>
            </button>
          </mat-menu>
        </mat-card-header>
        <mat-card-content>
          <p>Carrera: {{anexo2.carrera}}</p>
          <p>Fecha de maxima resepcion: {{anexo2.fechaMaxRecepcion | date:"longDate"}}</p>
          <p>Número de Convocatoria: {{anexo2.numeroConvocatoria}}</p>
          <p>Entidad: {{anexo2.entidadBeneficiaria}}</p>
          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Actividades del Proyecto
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p *ngFor="let actividades of anexo2.actividades" > {{actividades.descripcion}} <br>
            Inico: {{actividades.inicio}} <br>
            Fin: {{actividades.fin}}</p>
          </mat-expansion-panel>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  </div>
  <div *ngIf="isexist==false">
    <mat-card>
      <mat-card-title>NO EXISTEN PROYECTOS ACTUALMENTE BENEFICARIAS REGISTRADAS</mat-card-title>
    </mat-card>
  </div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: auto;">
    <center>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </center>
  </div>
</ng-container>
